.main{
    max-width: 100% !important;
}
p, a{
    font-size: 1em;
    line-height: 32px;
    font-family: 'Muli',sans-serif;
    font-weight: 400;
    color: #2F1C6A !important;
    letter-spacing: .3px;
}
a:hover{
    color: #2F1C6A !important;
    cursor: pointer;
    text-decoration: none;
}
.header {
    z-index: 9999;
    overflow: hidden;
    background-color: #f9f1f1;
    padding: 30px 50px;
    top: 0;
    width: 100%;
}
.contact-icons{
    font-size: 40px;
    text-align: center;
    color: #2F1C6A;
    margin: 0 3%;
}
.contact-icons:hover, .marker:hover{
    -webkit-transform: scale(1.4);
}
.rights-p{
    text-align: center;
    line-height: 10px;
    font-size: 13px;
}
.header h3, .header a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.header a {
    border: 2px solid #f9f1f1;
}
.header h3 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Parisienne',cursive;
    font-size: 3em;
    font-weight: 100;
    color: #2F1C6A;
}
.titles{
    font-size: 2em;
    line-height: 32px;
    font-family: 'Muli',sans-serif;
    color: #2F1C6A !important;
    letter-spacing: .3px;
}
.subtitles{
    font-size: 1em;
    line-height: 32px;
    font-weight: bold;
    font-family: 'Muli',sans-serif;
    color: #2F1C6A !important;
    letter-spacing: .3px;
}
.header-right {
    float: right;
}
.header a:hover{
    border: solid 2px #2F1C6A;
    color: #2F1C6A;
    background-color: #f9f1f1;
    cursor: pointer;
}
.colored-div{
    background-color: #f9f1f1;
}
.go-up-btn{
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 9999 !important;
}
.go-up-btn i{
    font-size: 32px !important;
}
.img-exp{
    box-shadow: 0px 0px 0px 3px rgba(47, 28, 106, .8);
    border-radius: 50%;
    background-color: rgba(47, 28, 106, .8);
}
@media screen and (max-width: 900px) {
    .header{
      padding: 30px 40px 10px 40px !important;
      position: sticky;
    }
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right{
        float: none;
    }
    .header-right a{
        text-align: center;
    }
    #menu-options {
        display: none;
    }
    .name {
        line-height: 50px !important;
        padding: 0 !important;
    }
    .titles, .subtitles, p{
        padding-left: 5%;
    }
    h1{
        padding-left: 0 !important;
    }
    .profile-img{
        width: 80%;
    }
    .hide-mobile{
        display: none !important;
    }
    .show-mobile{
        display: block !important;
    }
    .img-exp{
        width: 80%;
    }
}
h1 span {
    font-weight: 600;
}
.container {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}
.container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
}
.timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}
.timeline-block-right {
    float: right;
}
.timeline-block-left {
    float: left;
    direction: rtl;
    text-align: right;
}
.marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #2F1C6A;
    margin-top: 10px;
    z-index: 9998;
    cursor: pointer;
}
.timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #666
}
 .timeline-content:hover{
     cursor: pointer;
}
 .timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500;
    color: #2F1C6A;
}
 .timeline-content span {
    font-size: 15px;
    color: #2F1C6A;
    opacity: 50%;
}
 .timeline-content div {
     display: none;
}
@media screen and (max-width: 768px) {
    .container:before {
       left: 8px;
       width: 2px;
    }
    .timeline-block {
       width: 100%;
       margin-bottom: 30px;
    }
    .timeline-block-right {
       float: none;
    }
 
    .timeline-block-left {
       float: none;
       direction: ltr;
       text-align: left;
    }
}
 