h3{
    text-align: center;
    padding-top: 1em;
    font-family: 'Muli',sans-serif;
    font-size: 32px;
    line-height: 120%;
    color: #2F1C6A;
}
p{
    font-size: 20px;
    line-height: 32px;
    font-family: 'Muli',sans-serif;
    font-weight: 400;
    color: #36344D;
    letter-spacing: .3px;
}
.btn{
  background-color: #2F1C6A;
  border: solid 2px;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
}
.btn:hover{
    border: solid 2px #2F1C6A;
    color: #2F1C6A;
    background-color: #fff;
}